<h1>Books</h1>

<% @books.each do |book| %>
  <h3> <%= link_to book.title, book_path(book), style: "color: #666" %> </h3>
<% end %>

<%= link_to "Add Book", new_book_path, class: "btn btn-primary", style: "margin-top: 2rem" %>
